<div class="grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center justify-content-between">
        <h4 class="card-title text-uppercase"><b>Bo'limlar Ro'yhati</b></h4>
        <form method="post">
          <div class="d-flex justify-content-center">
            <div class="input-group w-auto">
              {{#if edit}}
              <input type="hidden" name="_id" value="{{department._id}}" />
              {{/if}}
              <input type="text" name="title" class="form-control py-4" placeholder="Bo'lim nomi"
                value="{{department.title}}" />
              <button class="btn btn-primary py-2" type="submit">
                Button
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <b>Bo'lim nomi</b>
              </th>
              <th>
                <b>Yaratilgan vaqti</b>
              </th>
              <th>
                <b>Holati</b>
              </th>
              <th></th>
              <th></th>
          </thead>
          <tbody>
            {{#each departments}}
            <tr>
              <td>
                <b>{{this.title}}</b>
              </td>
              <td>
                <b>{{this.createdAt}}</b>
              </td>
              <td>
                <a href="/dashboard/department/status/{{this._id}}">
                  {{#if this.status }}
                  <label class="badge badge-success">Faol</label>
                  {{else}}
                  <label class="badge badge-warning">Nofaol</label>
                  {{/if}}
                </a>
              </td>
              <td>
                <a href="/dashboard/department/edit/{{this._id}}">Tahrirlash</a>
              </td>
              <td>
                <a href="/dashboard/department/delete/{{this._id}}" onclick="return confirm('Ishonchiz komilmi?')">O'chirish</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>