<div class="grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center justify-content-between">
        <h4 class="card-title text-uppercase">
          <b> 
            Suhbat Savollari ro'yhati
          </b>
        </h4>
        <a class="nav-link" href="skill_matrix/add">yangi savol</a>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <b>Savol nomi</b>
              </th>
              <th>
                <b>Bo'lim nomi</b>
              </th>
              <th>
                <b>Yaratilgan vaqti</b>
              </th>
              <th>
                <b>Holati</b>
              </th>
              <th></th>
              <th></th>
          </thead>
          <tbody>
            {{#each skill_matrixs}}
            <tr>
              <td>
                <b>{{this.title}}</b>
              </td>
              <td>
                <b>{{this.department.title}}</b>
              </td>
              <td>
                <b>{{this.createdAt}}</b>
              </td>
              <td>
                <a href="/dashboard/skill_matrix/status/{{this._id}}">
                  {{#if this.status }}
                  <label class="badge badge-success">Faol</label>
                  {{else}}
                  <label class="badge badge-warning">Nofaol</label>
                  {{/if}}
                </a>
              </td>
              <td>
                <a href="/dashboard/skill_matrix/{{this._id}}">Tahrirlash</a>
              </td>
              <td>
                <a href="/dashboard/skill_matrix/delete/{{this._id}}" onclick="return confirm('Ishonchiz komilmi?')">O'chirish</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>